h1 {
  text-align: center;
}

#puzzle-container {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  height: 510px;
  width: 560px;
  border: black 1px solid;
  margin: 50px auto 50px auto;
  overflow: hidden;
}

#puzzle-container p {
  text-align: left;
  padding: 5px;
  margin: 5px;
  font-size: 30px;
}

input {
  width: 30px;
  height: 30px;
  border: none;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

button {
  width: 10rem;
  height: 2rem;
  font-size: 20px;
  border-radius: 5rem;
  margin: 0 1rem 0 1rem;
}